<h1>Editing student</h1>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :marks %><br />
    <%= f.text_field :marks %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @student %> |
<%= link_to 'Back', students_path %>
<%= link_to 'Destroy', @student, :confirm => 'Are you in your right mind?', :method => :delete %>
