<h1>New student</h1>

<% form_for(@student) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :marks %><br />
    <%= f.text_field :marks %>
  </p>

  <p>
    <%= f.label :rank %><br/>
    <%= f.text_field :rank %>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', students_path %>
